body {
background-color:{{color}};

}
#container {			
background-color:#171D29;
margn: 5px 3px 0px 0px; 
}
#cabecera {
height: 124px;
background-color: #FEFEDC;
background-image: url(picks/2.jpg);
}

.banner{
float:left;
width: 400px;
height: 124px;
background-image: url(aparcamiento-robot-1.jpg);
}
.formulario{
float:right;
}
.lbox{
width: 150px;
height: 100%;
background-color:#171D29;
padding: 0px 1px 1px 1px;
color:#fff;
}
.textbox{
height: 30px;
margin-left: 172px;
text-align: center;
font-size: {{size}}px;
color:#fff;
padding: 4px 0px 0px 0px; 
font-family:"verdana", arial, sans-serif,  times;
}
.navbox{
float: center;
border: 0px solid #000;
width: 440px;
height: 300px; 
margin: 3px 3px 0px 0px; 
background-color:#;
}
#content {
margin-top: 0px;
margin-left: 164px;
height: 100%;		
background-color:#fff;
}
blockquote{
border: 2px solid #CECFC6;
padding: 9px;
background-image: url(picks/2.jpg);
background-color:#000;
font-size: 0.9em;
font-family: "verdana",arial, sans-serif ;
color:#fff;
}
#menu_lateral {
float: left;
width: 180px;
height: 800px;
text-align: left;
font-size: 1.0em;
color:#fff;
padding: 0px;
background-color: #171D29;
color:#ffffff;
}
#menu {
margin: 0;
padding: 5;
margin-bottom: 0em;
float: center;
font: bold 110% Tohoma;
width: 100%;
border: 0px solid #625e00;
background-color: white;
}
#menu ul {
text-align: center;
}
#menu ul li{
display: inline;
}
#menu ul li a{
float: center;
color:#000;
padding: 5px 5px;
text-decoration: none;
}
p {
background-color: #fff;
padding: 0px 0px 2px 5px;
margin: 0px 2px 4px 0px;
text-align: left;
word-spacing: 2px;
font-size: 16px;
font-family: arial;
color: #000;
}
#left p {
background-color: #fff;
padding: 0px 4px 2px 4px;
margin: 5px 1px 1px 0px;
text-align: center;
word-spacing: 2px;
font-size: 12px;
font-family: arial;
color:#000;
}
h1 {
float: center;
margin: 0px 200px 0px 0px;
font-size: 3.4em;
color:white;
font-family:"times ", verdana,arial , sans-serif;
}
h2 {
text-align: center;
font-size: 1.5em;
color:black; 
padding: 3px; 
font-family:"times", verdana, arial, sans-serif,  engravers mt bold;
}
h3{
font-size: 1.5em;
color:white;
margin-left: 5px; 
padding-top: 3px; 
border-bottom: 1px solid #000;
font-family:" sans-serif", verdana, arial, times , engravers mt bold;
}
#footer {
clear: both;
text-align: center;
font-size: 1em;
padding: 2px;
color:#fff;			
background-color: #172029;
background-image: url(picks/2.jpg);
}
