<html>
<head>
	<title>Aparcamientos de Madrid</title>
<meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
<meta http-equiv="content-type" content="text/html; charset=windows-1252" />	
	<link href="/1.css" type="text/css" rel="stylesheet" />
	<link rel="shortcut icon" href="templates/parking_inv.png">
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
           integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
           integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
crossorigin=""></script>
</head>

<body>

	<div id="cabecera">
		<div class="banner"></div>
		<div class="formulario">
			{% if request.user.is_authenticated %}
				<h4>Bienvenido {{user.username}}</h4> 
				<form action= /{{user.username}}>
					<input type="submit" value="Mi pagina">
				</form>		
				<form action="/{{user.username}}/XML"> 
					<input type ="submit" value="XML">	
				</form>

				<form action="/logout">
					<input type="submit" value="Salir">
				</form>	
			{% else %}
			<form action="/login" method="POST">
				{% csrf_token %}
				Usuario:<input type="text" name="usuario">
				Contraseña:<input type="password" name="contrasena">
				<input type="submit" value="Entrar">			
			</form>
	
			{% endif %}

	</div id="titulo">
		<h1>Aparcamientos de Madrid</h1>
	</div>

	<div id="menu">
			<ul>
			<li><a href="/"> <strong>Inicio</strong></a></li>
			<li><a href="/aparcamientos"> <strong>Aparcamientos</strong></a></li>
			<li><a href="/accesibles"> <strong>Aparcamientos Accesibles</strong></a></li>
			<li><a href="/registro"><strong>Regístrate</strong></a></li>
			<li><a href="/about"> <strong>About</strong></a></li>			
			</ul>
	</div>

	<div id="menu_lateral">   <!--Menu de paginas personales-->
	{% if users %}
	<h2>Menú de páginas personales</h2>
		{% for user in users %}
			<ul>
			<p><a href="/{{user.username}}"> Pagina de {{user.username}}</a></p>
			</ul>				
		{% endfor%}
	{% endif %}
	</div>

	<div id = "blockcontent">
		{% block content %}
				{{content|safe}}
		{% endblock %}		
	</div>

	<div id="footer">
		<i>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid</i>
		<ul><i><a href="https://goo.gl/SiJcIL">Fichero XML del Ayuntamiento de Madrid.</a></i></ul>
		<ul><i><a href="https://goo.gl/jmzQ5N">Descripción del fichero</a></i></ul>
	</div>
</body>
</html>
