{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Aparcamientos de Madrid</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link href="{% static '1.css' %}"" type="text/css" rel="stylesheet" />
</head>

<body>

	<div id="cabecera">
		<div class="banner"></div>
		<div class="formulario">
			{% if request.user.is_authenticated %}
				<h4>Bienvenido {{user.username}}</h4> 
				<form action="/mypage">
					<input type="submit" value="Mi pagina">
				</form>		
				<form action="/logout">
					<input type="submit" value="Salir">
				</form>		
							
			{% else %}
			<form action="/login" method="POST">
				{% csrf_token %}
				Usuario:<br><input type="text" name="usuario"></br>
				Contraseña:<br><input type="password" name="contraseña"></br>
				<br><input type="submit" value="Entrar">			
			</form>
			{% endif %}

		</div>
		<h1>Aparcamientos de Madrid</h1>
	</div>

	<div id="menu">
			<ul>
			<li><a href="/"> <strong>Inicio</strong></a></li>
			<li><a href="/aparcamientos"> <strong>Aparcamientos</strong></a></li>
			<li><a href="/accesibles"> <strong>Aparcamientos Accesibles</strong></a></li>
			<li><a href="/XML"> <strong>XML</strong></a></li>	
			<li><a href="/about"> <strong>About</strong></a></li>
			</ul>
	</div>

	<div id="menu_lateral">   <!--Menu de paginas personales-->
	{% if users %}
	<h2>Menú de páginas personales</h2>
		{% for user in users %}
			<li>
			<p><a href="/{{user.username}}"> Pagina de {{user.username}}</a></p>
			</li>				
		{% endfor%}
	{% endif %}
	</div>

	<div id = "blockcontent">
		{% block content %}
				{{content|safe}}
		{% endblock %}		
	</div>

	<div id="footer">
		<i>Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid</i>
		<ul><i><a href="https://goo.gl/SiJcIL">Fichero XML del Ayuntamiento de Madrid.</a></i></ul>
		<ul><i><a href="https://goo.gl/jmzQ5N">Descripción del fichero</a></i></ul>
	</div>
</body>
</html>
